.imagem2{
    background-image: url(https://media4.giphy.com/media/uC7imZGJr5dFOgtPP6/giphy.gif?cid=ecf05e47sg1yz2z9ve6eb1uwg4db320r4pd81skllqp1xb02&rid=giphy.gif&ct=g);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}